<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido">
  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Ingresa tu Correo
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-input label="Correo" labelPlacement="floating" [(ngModel)]="correo"></ion-input>
          </ion-row>
          <ion-row>
            <ion-col><ion-button class="rounded-button" (click)="enviarSolicitud()">Enviar
                Solicitud</ion-button></ion-col>
            <ion-col><ion-button class="rounded-button" [routerLink]="'/iniciar-sesion'">Volver</ion-button></ion-col>
          </ion-row>
          <div class="ion-text-center">
            <ion-row>
              <ion-col>
                <!-- Mostrar mensaje -->
                <div *ngIf="mensaje" class="mensaje">{{ mensaje }}</div>
                <!-- spinner angular material -->
                <mat-spinner *ngIf="showSpinner"></mat-spinner>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>