<ion-header [translucent]="true">
  <ion-toolbar>
    <img alt="logo" class="center" width="60%" src="/assets/img/registrApp logo.png" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="contenido">

  <div id="container">
    <ion-card>

      <ion-card-header>
        <ion-card-title>Login Alumno</ion-card-title>
        <ion-card-subtitle>Accede a tu cuenta</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <img src="duoc_logo_2.svg.png" alt="">
        <ion-grid>
          <ion-row>
            <ion-col>
              <!-- Campo de Usuario -->
              <mat-form-field class="full-width">
                <mat-label>Nombre de Usuario</mat-label>
                <input matInput [(ngModel)]="user.nombre" required>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <!-- Campo de Contraseña con Alternancia de Visibilidad -->
              <mat-form-field class="full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput [(ngModel)]="user.password" [type]="hide ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="togglePasswordVisibility()">
                  <mat-icon [ngClass]="{ 'eye-icon': !hide }">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="ion-text-center">
                <ion-button (click)="login()" class="rounded-button">
                  Ingresar
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
          <div class="ion-text-center">
            <ion-row>
              <ion-col>
                <!-- spinner angular material -->
                <mat-spinner *ngIf="showSpinner"></mat-spinner>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>


