body,
html {
    margin: 0;
    padding: 0;
}


#container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/img/login-alumno3.jpg')no-repeat center center ;
    background-size: cover;
    height: 100vh;

}

/*.contenido {
    --background: url('../../assets/img/login-alumno3.jpg')no-repeat center center fixed;
    background-size: 100%;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}*/

ion-card {
    max-width: 400px;
    width: 100%;
}

.full-width {
    width: 100%;
}

.mat-form-field {
    margin-bottom: 15px;
}

.ion-text-center {
    display: flex;
    justify-content: center;
}


.rounded-button {
    width: 100%;
}