<ion-header [translucent]="true">
  <ion-toolbar>
    <img alt="logo" class="center" width="60%" src="/assets/img/registrApp logo.png" />
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="image-container" [routerLink]="'/login-al'">
            <img class="back-img" src="../../assets/img/login-alumno.jpg" alt="INICIAR COMO ALUMNO">
            <div class="texto-superpuesto">ALUMNO</div>
          </div>
        </ion-col>
        <ion-col>
          <div class="image-container" [routerLink]="'/login-docente'">
            <img class="back-img" src="../../assets/img/login-docente.jpeg" alt="INICIAR COMO DOCENTE">
            <div class="texto-superpuesto">DOCENTE</div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>